<!-- USERS -->
<% @users.each do |user| %>
	<div class="col-md-3">
	<h4><%= link_to (if defined? user.first_name then user.first_name else end  + ' ' + if defined? user.last_name then user.last_name else end) ,"user/#{user.id}" %></h4>
   <img src=" <%= "#{user.profile_image}" %>" class="img-circle" style="width:150px; height:150px;">
  </div>
<% end %>
